.info{
  position: relative;
  .padding-container(1925px, 1726px);
  margin-bottom: @section-gap;
  --column-gap: 4.3vw;
  --column-fr: calc((var(--container-width) - var(--column-gap))/5 );
  .grid(calc( var(--column-fr)* 2.6) calc( var(--column-fr)*2),1em auto, var(--column-gap));
  align-items: start;
  align-content: start;

  @media screen and (max-width: @size-mobile){
    .grid(auto,auto);
    grid-row-gap: var(--section-gap);
    row-gap: var(--section-gap);

  }

  &-back-link{
    grid-column: span 2;
    @media screen and (max-width: @size-mobile){
      grid-column: 1;

    }
  }

  &-btn{
    .adaptive-size(212,350,1240, 1926);
    .f-size(12,18,1240, 1926);
    width: var(--return);
    height: 56px;
    background-color: @red;
    color: white;
    text-transform: uppercase;
    border:none;
    box-shadow: none;
    max-width: 350px;

    @media screen and (max-width: 1240px){
      min-width: 212px;
    }

    @media screen and (max-width: 500px){
      min-width: calc(var(--return) + 100px);
    }
  }

  &-grid{
    .grid(1fr 3.6fr, auto, 2em);
    align-self: start;


  }

  &-title{
    .f-size(20, 36, 1240, 1926);


    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 1em;

    grid-column: span 2;

  }

  &-text{

    padding-top: 32px ;

    grid-column: span 2;
  }

  &-char, &-prices{
    align-self: start;
    .flex-col();
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    gap:10px;
    &-title{
      font-size: 20px;
      line-height: 1.4em;
      color: @gray;
    }
  }

  &-char{
    &-subtitle{
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      color: @black;
    }
  }

  &-prices{
    &-number{
      color:@red;
      font-weight: bold;
      & .number{
        .f-size(14, 36, 1240, 1926);

        line-height: 1.2em;
        text-transform: uppercase;
      }

      & .text{
        padding-left: .5em;
      }
    }

  }
  .share-button{
    position: absolute;
  }


}


.gallery-grid{
  .grid( 1fr 3.3fr, auto,calc( 0.009 * var(--container-width))  );
  overflow: hidden;


  @media screen and (max-width: @size-mobile){
    display: block;

  }


  &-left{
    --left-width: calc( 0.145 * var(--container-width));
    width: var(--left-width);
    position: relative;

    @media screen and (max-width: @size-mobile){
      display: none;

    }

    &-button{
      position: absolute;
      left: 30%;
      top: calc( 1.67 * var(--left-width));
      z-index: 20;
      color: white;
      .flex-row;


      & .img {
        width: calc( 0.12 * var(--left-width));
        height: calc( 0.12 * var(--left-width));
        .bg-contain('./img/svg/picture.svg');

      }

      & span {
        font-size: 12px;
        align-self: center;
        padding-left: 2px;
      }
    }

    & .slick-current + div + div {
      filter: brightness(40%);
    }
  }

  &-right{
    --right-width: calc( 0.46 * var(--container-width));
    width: var(--right-width);
    position: relative;

    @media screen and (max-width: @size-mobile){
      width: 100%;

    }

    & .slider-nav{
      position: absolute;
      width:160px;
      height: 36px;
      background-color: #312C2BAA;
      z-index: 20;
      left: calc(0.6*var(--right-width));
      top:calc(0.57*var(--right-width));
      color: white;
      text-align: center;
      font-size: 14px;
      .flex-row;
      align-content: center;
      justify-content: center;
      padding-bottom: 2px;

      @media screen and (max-width: @size-mobile){
        display: none;

      }
    }

    & .slick-arrow {
      z-index: 20;

      top: 50%;
    }

    & .slick-prev{
      left:14px;
      &:before {
      .masked-icon('./img/svg/arrow.svg', 31px, 8px);
      display: block;
      height: 8px;
      width:31px;
      content:"n";
      color:white;

    }}

    & .slick-next{
      right:24px;
      &:before {
      .masked-icon('./img/svg/arrow.svg', 31px, 8px);
      display: block;
      height: 8px;
      width:31px;
      content:"n";
      color:white;
      transform: scaleX(-1);
    }
    }
  }

  & .slide {
    width:100%;
    height: auto;

    & img{
      width:100%;
      height: auto;
    }

    &-fancybox{

    }
  }


}