section.info
    .info-back-link.span-2
    .gallery-grid
        .gallery-grid-left
            .gallery-grid-left-button
                img.img
                span
                    span +
                    span.number_of_slides-2 12

                    span фото
            .vertical-slider
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-video.jpg").slide
                img(src="./img/card/small-img2.jpg").slide
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-img2.jpg").slide
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-img2.jpg").slide

        .gallery-grid-right
            .slider-nav
                span
                    span.current-count 1
                    span /
                    span.number_of_slides 4

            .horisontal-slider
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-video.jpg").slide
                img(src="./img/card/small-img2.jpg").slide
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-img2.jpg").slide
                img(src="./img/card/small-img.jpg").slide
                img(src="./img/card/small-img2.jpg").slide

    .info-grid
        h1.info-title Название помещения бывает в две строки
        .share-button
        .info-char
            .info-char-title Этаж
            .info-char-subtitle
                span.number 3
            .info-char-title Строение
            .info-char-subtitle
                span.number 1
                a.info-char-link Планировка
            .info-char-title Площадь
            .info-char-subtitle
                span.number
                span.text
            .info-char-title Потолки
            .info-char-subtitle
                span.number
                span.text
            .info-char-title Планировка
            .info-char-subtitle
                span.number
        .info-prices
            .info-prices-title Арендная ставка
            .info-pices-number
                span.number 5 768
                span.text ₽ кв. м.
            .info-prices-subtitle Включая стоимость эксплуатации здания, без учета стоимости эксплуатации арендуемого помещения и стоимости коммунальных услуг.
            .info-prices-title Ежемесячный платеж
            .info-pices-number
                span.number 51 567
                span.text ₽ мес.
            button.info-btn скачать презентацию
        .info-text.
            Коммунальные услуги оплачиваются дополнительно по тарифам ресурсоснабжающей организации согласно показаний приборов учета.



