section.info
    .info-back-link Назад
    .gallery-grid
        .gallery-grid-left
            .gallery-grid-left-button
                img.img
                span
                    span +
                    span.number_of_slides-2 5
                    span фото
            .vertical-slider
                .slide
                    //a(href="./img/card/small-img.jpg").slide-fancybox a
                    img(src="./img/card/small-img.jpg")
                .slide
                    //a(href="./img/card/small-img2.jpg").slide-fancybox a
                    img(src="./img/card/small-img2.jpg")
                .slide
                    //a(href="./img/card/small-video.jpg").slide-fancybox a
                    img(src="./img/card/small-video.jpg")
                .slide
                    //a(href="./img/card/small-img.jpg").slide-fancybox a
                    img(src="./img/card/small-img.jpg")
                .slide
                    //a(href="./img/card/small-img2.jpg").slide-fancybox a
                    img(src="./img/card/small-img2.jpg")
                .slide
                    //a(href="./img/card/small-video.jpg").slide-fancybox a
                    img(src="./img/card/small-video.jpg")
                .slide
                    //a(href="./img/card/small-img.jpg").slide-fancybox a
                    img(src="./img/card/small-img.jpg")
        .gallery-grid-right
            .slider-nav
                span
                    span.current-count 1
                    span /
                    span.number_of_slides 7
            .horisontal-slider
                .slide
                    a(href="./img/card/small-img.jpg").slide-fancybox  a
                    img(src="./img/card/small-img.jpg")
                .slide
                    a(href="./img/card/small-img2.jpg").slide-fancybox a
                    img(src="./img/card/small-img2.jpg")
                .slide
                    a(href="./img/card/small-video.jpg").slide-fancybox a
                    img(src="./img/card/small-video.jpg")
                .slide
                    a(href="./img/card/small-img.jpg").slide-fancybox a
                    img(src="./img/card/small-img.jpg")
                .slide
                    a(href="./img/card/small-img2.jpg").slide-fancybox a
                    img(src="./img/card/small-img2.jpg")
                .slide
                    a(href="./img/card/small-video.jpg").slide-fancybox a
                    img(src="./img/card/small-video.jpg")
                .slide
                    a(href="./img/card/small-img.jpg").slide-fancybox a
                    img(src="./img/card/small-img.jpg")

    .info-grid
        h1.info-title
            |Название помещения
            br
            |бывает в две строки
        .share-button
        .info-char
            .info-char-title Этаж
            .info-char-subtitle
                span.number 3
            .info-char-title Строение
            .info-char-subtitle
                span.number 1
                a.info-char-link Планировка
            .info-char-title Площадь
            .info-char-subtitle
                span.number 57,2
                span.text кв. м.
            .info-char-title Потолки
            .info-char-subtitle
                span.number 4,2
                span.text м.
            .info-char-title Планировка
            .info-char-subtitle
                span.number Открытая
        .info-prices
            .info-prices-title Арендная ставка
            .info-prices-number
                span.number 5 768
                span.text ₽ кв. м.
            .info-prices-subtitle Включая стоимость эксплуатации здания, без учета стоимости эксплуатации арендуемого помещения и стоимости коммунальных услуг.
            .info-prices-title Ежемесячный платеж
            .info-prices-number
                span.number 51 567
                span.text ₽ мес.
            button.info-btn скачать презентацию
        .info-text.
            Коммунальные услуги оплачиваются дополнительно по тарифам ресурсоснабжающей организации согласно показаний приборов учета.



