.index_slider 
    .index_slider-left#index_slider-left1
        .slider-nav#slider-nav1
                span
                    span.current-count 1
                    span /
                    span.number_of_slides 7
        .img-slider#img-slider2
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery1").slide-fancybox.fbs   a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery1").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
    .index_slider-left.hide-light#index_slider-left2
        .slider-nav#slider-nav2
                span
                    span.current-count 1
                    span /
                    span.number_of_slides 7
        .img-slider#img-slider2
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery2").slide-fancybox.fbs   a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img.jpg" rel="gallery2").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
    .index_slider-left.hide-light#index_slider-left3
        .slider-nav#slider-nav3
                span
                    span.current-count 1
                    span /
                    span.number_of_slides 7
        .img-slider#img-slider3
            .slide
                a(href="./img/card/small-img2.jpg" rel="gallery3").slide-fancybox.fbs   a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img2.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img2.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img2.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img2.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-video.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-video.jpg') no-repeat center/ cover;")
            .slide
                a(href="./img/card/small-img2.jpg" rel="gallery3").slide-fancybox.fbs  a
                .img(style="background: url('./img/card/small-img.jpg') no-repeat center/ cover;")
        
    .index_slider-right
        .index_slider-right-title Деловая среда
        a.index_slider-right-link(onClick="ChangeSliders('#index_slider-left1')") Фасад
        a.index_slider-right-link(onClick="ChangeSliders('#index_slider-left2')") Интерьеры
        a.index_slider-right-link(onClick="ChangeSliders('#index_slider-left3')") Конференц-залы

    