.history{
    position: relative;
    .padding-container(1925px, 1726px, 77px, 5vw, 65px, 5vw);
    
    background-color: #EDEFF1;
    //overflow: hidden;
    
    
    
    &-bg_text {
        .f-size(100,200,320,1920);
        position   : absolute;
        top: 1em;
        left: 25vw;
        font-weight: bold;
        
        line-height: 245px;
        color      :  #E4E8EC;
        white-space: nowrap;
        text-transform: uppercase;
        
    }
    
    &-title{
        position: relative;
        margin-bottom: 20px;
        font-size: 36px;

        text-align: center;
        text-transform: uppercase;
    }
    
    &-subtitle{
        position: relative;
        
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        max-width: 820px;
        margin: auto;
        
        margin-bottom: 50px;
    }
    
    &-grid{
        .flex-col;
        position: relative;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        
        @media screen and(max-width: 1000px){
            align-items: flex-start;
        }
        
        &-row{
            .flex-row;
            width: 100%;
            
          &--reverse{
            flex-direction: row-reverse;
          }

            @media screen and(max-width: 1000px){

                .flex-col;
                align-items: flex-start;
                align-content: flex-start;
                
                &--reverse{
                    flex-direction: column-reverse;
                }
                
            }
        }
        
        
        
        

        
        & .info-btn{
            grid-column: span 2;
            margin-top: 36px;
            .flex-col;
            width: 350px ;
            
            justify-content: center;
            
            @media screen and(max-width: 1000px){
                width: 100%;
            }
        }
        
        &-top{
            grid-column: span 2;
            border-left: 1px solid @gray_lines; 
            width:50%;
            height: 60px;
            position: relative;
            align-self: flex-end;
            
            @media screen and(max-width: 1000px){
                width: 100%;
            }
            
            
            
            &::after{
                content: ".";
                display: block;
                color: transparent;
                width: 12px;
                height: 12px;
                background-color: @gray_lines; 
                border-radius: 50%;
                top: -6px;
                left: -6px;
                position: absolute;
                
                
            }
            
            &.history-blue{
                border-left: 1px solid @blue; 
                
                &::after{
                    background-color: @blue;
                }
            }
            
        }
        
        &-left_line{
            border-left: 1px solid @gray_lines;
            order:2;
        }
        
        
        .history-blue + .history-grid-row > &-left_line{
            border-left: 1px solid @blue; 
        }
        
        &-date{
            grid-column: span 2;
            justify-self: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.9em;
            margin-bottom: 0.6em;
            text-align: center;
            text-transform: uppercase;
            height: 29px;
            color: @medium_gray;
            
            
            
            
            &--final::after{
                content: ".";
                display: block;
                color: transparent;
                width: 12px;
                height: 12px;
                background-color: @gray_lines; 
                border-radius: 50%;
                top: -160%;
                left: calc(50% - 5px);
                position: relative;               
                
            }
            
            &.history-blue{
                color: @blue;
            }
            
            
            &--final.history-blue::after{
                background-color: @blue;
            }
        }
        
        &-info{
            text-align: right;
            font-size: 20px;
            
            max-width: 377px;
                min-height: 208px;
                align-self: center;
                justify-self: center;
            
            & .title{
               
                line-height: 24px;                
                text-transform: uppercase;
                margin-bottom: 16px;
            }
            
            
            
            .history-grid-left_line & {
                text-align: left;
            }
            
            @media screen and(max-width: 1000px){
                text-align: left;
            }
        }
        
        &-container{
            .flex-row; 
            justify-content: center; 
            padding-top: 40px;
            padding-bottom: 40px;
            width:50%;
            order:1;
            min-height: 302px;
            
                    
            & .img{
                width: 367px;
                height: 208px;
                align-self: center;
                justify-self: center;
                
            }
            
            @media screen and(max-width: 1000px){
                border-left: 1px solid @gray_lines;
                width: 100%;
                padding-left: 10px;
                order:2;
                
                .history-blue +  .history-drid-row &{
                    border-left: 1px solid @blue; 
                }
                
            }
            
        }
    }
    
    
}