.index_about {
    position: relative;
    .padding-container(1925px, 1726px, 0, 5vw, 0, 10vw);
    margin-bottom: @section-gap;

    .grid(1fr 1.17fr);
    overflow: hidden;
    padding-bottom: 0px;
    
    @media screen and (max-width: @size-notebook){
        padding:0;
        padding-bottom: 54px;
    }

    @media screen and (max-width: @size-tablete){
        .flex-col;
        margin-bottom: 0;
    }

    &-bg_text {
        .f-size( 100, 200, 320, 1920 );
        position   : absolute;
        top:2vw;
        left:1vw;
        font-weight: bold;
        
        line-height: 245px;
        color      : #F6F7F8;
        white-space: nowrap;
        text-transform: uppercase;

        
    }

    &-right,
    &-left {
        position: relative;
       
    }

    &-left {
        .padding-top-super(3vw,3vw,3vw,6.2vw); 
        padding-right: 6.2vw;

        .padding-left-super(39px,39px,39px,110px);
        padding-bottom: 3.78vw;
        

             
        &-title {
            
            .margin-top-super(75px,65px,105px,75px);            
            .font-size-super(20px,30px,30px,36px);
            text-transform: uppercase;
            .margin-bottom-super(23px,21.5px,23px,23px);
            font-weight: 700;

          @media screen and (max-width: @size-mobile){
            text-align: center;
          }
        }
        
        &-text {
            .font-size-super(18px,18px,18px,20px);
            line-height: 1.5em;
          @media screen and (max-width: @size-tablete){
            text-align: center;
          }
            
        }
    }
    
    &-right{
        
        padding : 0;
        .grid(1fr 1fr, auto, 10px, 70px);        
        grid-template-areas: "a a" "b c" "d d";
        align-items: center;
        justify-items: center;
        
        @media screen and (max-width: @size-notebook){
            padding-top: 50px;
            grid-row-gap: 60px;
            row-gap: 60px;
        }
        @media screen and (max-width: @size-tablete){
            padding-top: 0px;
            grid-row-gap: 0px;
            row-gap: 0px;
            
            grid-column-gap: 40vw;
            column-gap: 40vw;
        }
        

        @media screen and (max-width: @size-mobile){
            .flex-col;
            align-items: flex-start;
          padding-right: 6.2vw;
          padding-left:39px;
            
        }
        
        &-card{
            .flex-col;
            
            &:nth-child(1){
                grid-area: a;
            }
            
            &:nth-child(4){
                grid-area: d;
            }
            
            
            & .text{               
                
                & b{                    
                    .font-size-super(40,60,96,96, "super" ,320,375,1024);                    
                    line-height: 1em;                   
                    color:#0055FF;
                }
            }
            
            & .text-big{
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
                
                @media screen and(max-width: @size-mobile) {
                    font-size: 16px;
                
                font-weight: 400;
                }
            }
            
            
        }
    }

}