section.index_about
    .container
        .bg-text.index_about__bg-text Деловой квартал
        .index_about-left 
            //- .index_about-left-title О&nbsp;комплексе
            .title.index_about-left__title О&nbsp;комплексе
            .index_about-left-text. 
                Офисный комплекс расположен на первой линии Краснопролетарской улицы, в пяти минутах пешком от метро «Новослободская». На территории комплекса «Новослободский» можно снять офис от 10 до 1000&nbsp;кв.&nbsp;м с высокими потолками (от 3&nbsp;м) и увеличенными окнами. Сдаются отдельные кабинеты, офисные блоки различного размера и состава или open-space площади с возможностью установок легких перегородок. 
        .index_about-right
            .index_about-right-card 
                .text <b>52&nbsp;106,4 </b> кв.&nbsp;м 
                .text офисного пространства
                    
                .text-big Общая&nbsp;площадь
            .index_about-right-card 
                .text <b>5 </b>&nbsp;мин.
                .text ходьбы от&nbsp;метро
                    
                .text-big Удобное расположение
            .index_about-right-card 
                .text Более  <b>420</b> 
                .text камер видеонаблюдения
                    
                .text-big Безопасность
            .index_about-right-card 
                .text   Более <b>200</b> 
                .text машиномест
                    
                .text-big Наземная охраняемая парковка
            
        