section.elem_descr
    .elem_descr-plan
        .elem_descr-title ПЛАНИРОВКА ЭТАЖА

        img(src="/img/office-plan.jpg").elem_descr-img
    .elem_descr-description
        .elem_descr-title ОПИСАНИЕ И ОБЩИЙ ВИД ОБЪЕКТА
        .elem_descr-text
            p Предлагаемое помещение: Офисный блок 271,69кв.м. 3 этаж, 1 строение

            p Высота потолков 4,2м.и большой размер окон обеспечивает максимальную освещенность офиса

            p Планировочные решения: смешанная планировка, с возможностью перепланировки.

            p Помещения готовы к въезду, выполнен косметический ремонт

            p Техническое оснащение:
            ul
                li кондиционирование
                li приточно-вытяжная вентиляция
                li пожарная сигнализация
                li подвод воды и канализации

            p Провайдеры: WestCall, АМТ-Групп, Вымпел Коммуникации (Билайн)

            p Развитая инфраструктура, на территории Делового комплекса: кафе, рестораны, столовая, фитнес-залы, салоны красоты, магазины и мини- маркеты, типография, вендинговые аппараты для самообслуживания а также банкоматы.


