.container-m(@max-width: @article-max ) {
  margin   : 0 auto;
  max-width: @max-width;
  width    : 90%;
  --container-width: 90vw;


  @media only screen and (min-width: @size-tablete) {

    width: 85%;
    --container-width: 85vw;
  }


  @media only screen and (min-width: 1401px) {

    width: 70%;
    --container-width: 70vw;
  }

  @media only screen and (min-width: @max-width){
    --container-width:@max-width;
  }


  

}

.padding-container(@breakpoint: @viewport-max, @container-max-width: 1400px, @padding-top:0, @padding-right: 5vw, @padding-bottom:0, @padding-left: 5vw   ){
  padding:  @padding-top @padding-right @padding-bottom @padding-left;
  width:100%;

  --padding-x: calc(@padding-right + @padding-left);

  --container-width: calc( 100vw - var(--padding-x)  );

  @media ( min-width: @breakpoint) {
    --container-width: @container-max-width ;
    padding: 36px calc((100vw - @container-max-width )/2);
  }
}