section.facts
    .facts-bg_text «КРАСНЫЙ ПРОЛЕТАРИЙ»
    .facts-container 
        h2.facts-title Типография «Красный пролетарий» — гений места
        .facts-text Типография «Красный пролетарий», крупнейшее полиграфическое предприятие Советского Союза, ведет свою историю с 1869 года. Ее основал Иван Кушнерёв - писатель, издатель петербургской «Народной газеты» и журнала «Грамотей». В 1873 году он построил четырехэтажное здание типографии на тогда еще Пименовской улице – филиал открытой ранее типографии на ул. Тверская в Москве. В начале XX века типография Кушнерева была уже большим предприятием со скоропечатными и литографическими машинами. К тому времени архитекторы надстраивают здание еще двумя этажами.
    .facts-container
        img.facts-img(src="./img/bc_monochrome.jpg")