section.facts.facts--reverse
    .facts-bg_text Интересные факты

    .facts-container
        img.facts-img(src="./img/mother-russia.jpg")
        
    .facts-container 
        h2.facts-title Интересные факты
        .facts-text 
            p В 1918 году типография становится полиграфической базой Советского правительства, и уже в 1922 году ей присваивается название «Красный пролетарий». «Красный пролетарий» становится рупором своего времени. Здесь печатается «Конституция Союза ССР», плакаты Николая Жукова и Кукрыниксов.

            p 
                strong  В годы войны здесь был напечатан всемирно известный плакат «Родина мать зовет!»

            p В послевоенные годы типографию несколько раз реконструировали, сохранив при этом исторический облик основного здания. В 1970-е к зданию присоединили новый производственный корпус. Были модернизированы линии, освоены современные способы печати. Продукция типографии поставлялась в 132 страны мира.

            p Именно по названию комплекса в 1929 году переименована и сама улица: вместо Пименовской она становится Краснопролетарской.