body {
  --return: calc(  0.0475  * 100vw +  8.8px  );
  --section-gap: var(--return);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Formular';
  src: url(./fonts/Formular-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Formular';
  src: url(./fonts/Formular.ttf);
  font-weight: 400;
}
html {
  font-family: 'Formular', sans-serif;
  line-height: 130%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1240px) {
  html {
    font-size: 14px;
  }
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Formular', sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #312C2B;
  text-align: left;
  background-color: white;
}
.span-2 {
  grid-column: span 2;
}
@media only screen and (max-width: 1240px) {
  .span-2 {
    grid-column: 1;
  }
}
.vis-logo {
  background: url('./img/svg/vis-logo.svg') no-repeat center / contain;
  height: 2rem;
  width: 6.86rem;
  display: inline-block;
}
.header {
  position: sticky;
  display: flex;
  align-content: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: -webkit-max-content auto -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content auto max-content max-content;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  padding: 36px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
}
@supports not (grid-row-gap: 20px) {
  .header > div,
  .header > p,
  .header > a {
    margin-bottom: 20px;
  }
}
@media (min-width: 1925px) {
  .header {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
@media screen and (max-width: 1100px) {
  .header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  @supports not (grid-row-gap: 0) {
    .header > div,
    .header > p,
    .header > a {
      margin-bottom: 0;
    }
  }
}
.header-logo {
  background: url('img/svg/logo.svg') no-repeat center / contain;
  --return: calc(  0.02864259  * 100vw +  44.83437111px  );
  width: calc(1.88 * var(--return));
  height: var(--return);
}
@media screen and (max-width: 700px) {
  .header-logo {
    order: 2;
    justify-self: center ;
  }
}
.header-menu-open {
  background: url('img/svg/union.svg') no-repeat center / cover;
  height: 17px;
  width: 34px;
}
@media (min-width: 1240px) {
  .header-menu-open {
    display: none!important;
  }
}
@media screen and (max-width: 700px) {
  .header-menu-open {
    order: 1;
  }
}
@media (max-width: 1240px) {
  .header-menu {
    display: none!important;
  }
}
.header-menu_list {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  align-self: start;
  margin: 0;
  padding-left: 0%;
}
.header-menu_list li {
  list-style: none;
  justify-self: center;
  padding: 0;
}
.header-menu_list li a {
  font-size: 18px;
  text-decoration: none;
  border-bottom: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  word-break: keep-all;
  text-align: center;
}
.header-controls {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto;
  grid-row-gap: 1vw;
  grid-column-gap: 2.2vw;
  row-gap: 1vw;
  -moz-column-gap: 2.2vw;
       column-gap: 2.2vw;
  align-items: baseline;
  min-width: 300px ;
  padding-top: 6px;
}
@supports not (grid-row-gap: 1vw) {
  .header-controls > div,
  .header-controls > p,
  .header-controls > a {
    margin-bottom: 1vw;
  }
}
@media screen and (max-width: 1100px) {
  .header-controls {
    flex-direction: row !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.2vw;
    flex-wrap: nowrap;
    min-width: 30px ;
  }
}
@media screen and (max-width: 700px) {
  .header-controls {
    order: 3;
    justify-content: flex-end;
  }
}
.header-controls .login span {
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  color: #F24538;
  border-bottom: none;
  text-transform: uppercase;
}
.header-controls .login i {
  display: none;
}
.header_phone {
  font-weight: 700;
  font-size: calc(  0.01166181  * 100vw +  1.5393586px  );
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1240px) {
  .header_phone {
    font-size: 16px;
  }
}
@media screen and (min-width: 1926px) {
  .header_phone {
    font-size: 24px;
  }
}
@media screen and (max-width: 700px) {
  .header_phone {
    font-size: 0;
    width: 29.72px;
    height: 37.5px;
    background: url('./img/svg/phone.svg') no-repeat center / contain;
  }
}
.header-search {
  width: 24px;
  height: 24px;
  background: url('img/svg/search.svg') no-repeat center / contain;
}
@media (max-width: 700px) {
  .header-search {
    display: none!important;
  }
}
.info {
  position: relative;
  padding: 36px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
  margin-bottom: var(--section-gap);
  --column-gap: 4.3vw;
  --column-fr: calc((var(--container-width) - var(--column-gap))/5);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: calc(var(--column-fr)*2.6) calc(var(--column-fr)*2);
  grid-template-rows: 1em auto;
  grid-row-gap: 0;
  grid-column-gap: var(--column-gap);
  row-gap: 0;
  -moz-column-gap: var(--column-gap);
       column-gap: var(--column-gap);
  align-items: start;
  align-content: start;
}
@media (min-width: 1925px) {
  .info {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
@supports not (grid-row-gap: 0) {
  .info > div,
  .info > p,
  .info > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .info {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    grid-row-gap: var(--section-gap);
    row-gap: var(--section-gap);
  }
  @supports not (grid-row-gap: 0) {
    .info > div,
    .info > p,
    .info > a {
      margin-bottom: 0;
    }
  }
}
.info-back-link {
  grid-column: span 2;
}
@media screen and (max-width: 700px) {
  .info-back-link {
    grid-column: 1;
  }
}
.info-btn {
  --return: calc(  0.20116618  * 100vw +  -37.44606414px  );
  font-size: calc(  0.00874636  * 100vw +  1.15451895px  );
  width: var(--return);
  height: 56px;
  background-color: #F24538;
  color: white;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  max-width: 350px;
}
@media screen and (max-width: 1240px) {
  .info-btn {
    font-size: 12px;
  }
}
@media screen and (min-width: 1926px) {
  .info-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 1240px) {
  .info-btn {
    min-width: 212px;
  }
}
@media screen and (max-width: 500px) {
  .info-btn {
    min-width: calc(var(--return) + 100px);
  }
}
.info-grid {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 3.6fr;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 2em;
  row-gap: 0;
  -moz-column-gap: 2em;
       column-gap: 2em;
  align-self: start;
}
@supports not (grid-row-gap: 0) {
  .info-grid > div,
  .info-grid > p,
  .info-grid > a {
    margin-bottom: 0;
  }
}
.info-title {
  font-size: calc(  0.02332362  * 100vw +  -8.9212828px  );
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
  grid-column: span 2;
}
@media screen and (max-width: 1240px) {
  .info-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1926px) {
  .info-title {
    font-size: 36px;
  }
}
.info-text {
  padding-top: 32px ;
  grid-column: span 2;
}
.info-char,
.info-prices {
  align-self: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.info-char-title,
.info-prices-title {
  font-size: 20px;
  line-height: 1.4em;
  color: #7E7E7E;
}
.info-char-subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #312C2B;
}
.info-prices-number {
  color: #F24538;
  font-weight: bold;
}
.info-prices-number .number {
  font-size: calc(  0.03206997  * 100vw +  -25.76676385px  );
  line-height: 1.2em;
  text-transform: uppercase;
}
@media screen and (max-width: 1240px) {
  .info-prices-number .number {
    font-size: 14px;
  }
}
@media screen and (min-width: 1926px) {
  .info-prices-number .number {
    font-size: 36px;
  }
}
.info-prices-number .text {
  padding-left: 0.5em;
}
.info .share-button {
  position: absolute;
}
.gallery-grid {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 3.3fr;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: calc(0.009 * var(--container-width));
  row-gap: 0;
  -moz-column-gap: calc(0.009 * var(--container-width));
       column-gap: calc(0.009 * var(--container-width));
  overflow: hidden;
}
@supports not (grid-row-gap: 0) {
  .gallery-grid > div,
  .gallery-grid > p,
  .gallery-grid > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .gallery-grid {
    display: block;
  }
}
.gallery-grid-left {
  --left-width: calc(0.145 * var(--container-width));
  width: var(--left-width);
  position: relative;
}
@media screen and (max-width: 700px) {
  .gallery-grid-left {
    display: none;
  }
}
.gallery-grid-left-button {
  position: absolute;
  left: 30%;
  top: calc(1.67 * var(--left-width));
  z-index: 20;
  color: white;
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-grid-left-button .img {
  width: calc(0.12 * var(--left-width));
  height: calc(0.12 * var(--left-width));
  background: url('./img/svg/picture.svg') no-repeat center / contain;
}
.gallery-grid-left-button span {
  font-size: 12px;
  align-self: center;
  padding-left: 2px;
}
.gallery-grid-left .slick-current + div + div {
  filter: brightness(40%);
}
.gallery-grid-right {
  --right-width: calc(0.46 * var(--container-width));
  width: var(--right-width);
  position: relative;
}
@media screen and (max-width: 700px) {
  .gallery-grid-right {
    width: 100%;
  }
}
.gallery-grid-right .slider-nav {
  position: absolute;
  width: 160px;
  height: 36px;
  background-color: #312C2BAA;
  z-index: 20;
  left: calc(0.6*var(--right-width));
  top: calc(0.57*var(--right-width));
  color: white;
  text-align: center;
  font-size: 14px;
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 2px;
}
@media screen and (max-width: 700px) {
  .gallery-grid-right .slider-nav {
    display: none;
  }
}
.gallery-grid-right .slick-arrow {
  z-index: 20;
  top: 50%;
}
.gallery-grid-right .slick-prev {
  left: 14px;
}
.gallery-grid-right .slick-prev:before {
  display: inline-block;
  height: 31px;
  width: 8px;
  background-color: currentColor;
  -webkit-mask-image: url('./img/svg/arrow.svg');
          mask-image: url('./img/svg/arrow.svg');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  display: block;
  height: 8px;
  width: 31px;
  content: "n";
  color: white;
}
@supports not ((-webkit-mask-image: url(./img/svg/arrow.svg)) or (mask-image: url(./img/svg/arrow.svg))) {
  .gallery-grid-right .slick-prev:before {
    background: url('./img/svg/arrow.svg') no-repeat / contain;
  }
}
.gallery-grid-right .slick-next {
  right: 24px;
}
.gallery-grid-right .slick-next:before {
  display: inline-block;
  height: 31px;
  width: 8px;
  background-color: currentColor;
  -webkit-mask-image: url('./img/svg/arrow.svg');
          mask-image: url('./img/svg/arrow.svg');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  display: block;
  height: 8px;
  width: 31px;
  content: "n";
  color: white;
  transform: scaleX(-1);
}
@supports not ((-webkit-mask-image: url(./img/svg/arrow.svg)) or (mask-image: url(./img/svg/arrow.svg))) {
  .gallery-grid-right .slick-next:before {
    background: url('./img/svg/arrow.svg') no-repeat / contain;
  }
}
.gallery-grid .slide {
  width: 100%;
  height: auto;
}
.gallery-grid .slide img {
  width: 100%;
  height: auto;
}
.elem_descr {
  padding: 36px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
  position: relative;
  margin-bottom: var(--section-gap);
  --column-gap: 4.3vw;
  --column-fr: calc((var(--container-width) - var(--column-gap))/5);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: calc(var(--column-fr)*3) calc(var(--column-fr)*2);
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: var(--column-gap);
  row-gap: 0;
  -moz-column-gap: var(--column-gap);
       column-gap: var(--column-gap);
  align-items: start;
}
@media (min-width: 1925px) {
  .elem_descr {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
@supports not (grid-row-gap: 0) {
  .elem_descr > div,
  .elem_descr > p,
  .elem_descr > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .elem_descr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.elem_descr-plan,
.elem_descr-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
}
.elem_descr-title {
  font-size: 20px;
  margin-bottom: 1em;
}
.elem_descr-img {
  max-width: 100%;
}
.elem_descr p {
  margin-bottom: 0.5em;
}
.elem_descr ul {
  padding-left: 1em;
  margin-bottom: 0.5em;
}
.elem_tabs {
  padding: 36px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
  position: relative;
  margin-bottom: var(--section-gap);
}
@media (min-width: 1925px) {
  .elem_tabs {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
.elem_tabs-header {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 123px;
  font-size: 20px;
  margin-bottom: 50px;
}
.elem_tabs-header-tab {
  text-transform: uppercase;
}
.elem_tabs-header-tab--active {
  color: #F24538;
}
.elem_tabs-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 5vw;
  row-gap: 0;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}
@supports not (grid-row-gap: 0) {
  .elem_tabs-content > div,
  .elem_tabs-content > p,
  .elem_tabs-content > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .elem_tabs-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.elem_tabs-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (min-width: 1240px) {
  .elem_tabs-card {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 16px;
    row-gap: 0;
    -moz-column-gap: 16px;
         column-gap: 16px;
    height: 102px;
  }
  @supports not (grid-row-gap: 0) {
    .elem_tabs-card > div,
    .elem_tabs-card > p,
    .elem_tabs-card > a {
      margin-bottom: 0;
    }
  }
}
.elem_tabs-card .card-img {
  background: url('./img/svg/hexagon-empty.svg') no-repeat center / contain;
  width: 188px;
  height: 102px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1240px) {
  .elem_tabs-card .card-img {
    background: url('./img/svg/hexagon.svg') no-repeat center / contain;
  }
}
.elem_tabs-card .card-img div {
  height: 60%;
  width: 100%;
}
.elem_tabs-card .card-img .bucket {
  background: url('./img/svg/bucket.svg') no-repeat center / contain;
}
.elem_tabs-card .card-img .taxometr {
  background: url('./img/svg/taxometr.svg') no-repeat center / contain;
}
.elem_tabs-card .card-img .parking {
  background: url('./img/svg/parking.svg') no-repeat center / contain;
}
.similar {
  padding: 36px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
  position: relative;
  margin-bottom: var(--section-gap);
}
@media (min-width: 1925px) {
  .similar {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
.similar-title {
  font-size: 20px;
}
.similar-row {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
}
.row_card {
  position: relative;
  width: 370px;
  height: 540px;
  font-weight: bold;
  color: white;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .row_card {
    min-width: 90vw;
  }
}
.row_card-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(0.3);
}
.row_card-title {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 28px;
  justify-content: space-between;
}
.row_card-title-item {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}
.row_card-bottom {
  height-min: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 5%;
}
.row_card-bottom-title {
  text-transform: uppercase;
}
.row_card-bottom-price {
  flex-direction: row !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em;
}
.row_card-bottom-price number {
  text-transform: uppercase;
  font-size: 18px;
}
.footer {
  color: white;
  background-color: #312C2B;
  padding: 43px 5vw 60px 5vw 36px 5vw;
  width: 100%;
  --container-width: calc(100vw - 5vw - 5vw);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 77px;
  row-gap: 0;
  -moz-column-gap: 77px;
       column-gap: 77px;
  position: relative;
}
@media (min-width: 1925px) {
  .footer {
    --container-width: 1726px;
    padding: 36px calc((100vw - 1726px)/2);
  }
}
@supports not (grid-row-gap: 0) {
  .footer > div,
  .footer > p,
  .footer > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer nav li a {
  font-size: 14px;
}
.footer-logo {
  background: url('img/svg/logo-white.svg') no-repeat center / contain;
  width: 188px;
  height: 100px;
}
.footer-grid {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 3.7fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  row-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  padding-top: 35px;
}
@supports not (grid-row-gap: 0) {
  .footer-grid > div,
  .footer-grid > p,
  .footer-grid > a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer-text,
.footer-email {
  font-size: 14px;
}
.footer-copyright {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  row-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
}
@supports not (grid-row-gap: 0) {
  .footer-copyright > div,
  .footer-copyright > p,
  .footer-copyright > a {
    margin-bottom: 0;
  }
}
.footer-copyright span {
  font-size: 14px;
}
@media (min-width: 701px) {
  .m-show {
    display: none!important;
  }
}
@media (max-width: 700px) {
  .m-hide {
    display: none!important;
  }
}
@media (max-width: 1240px) {
  .t-hide {
    display: none!important;
  }
}
@media (min-width: 1240px) {
  .t-show {
    display: none!important;
  }
}
.hide {
  display: none!important;
}
