mixin infractructure-labels-slide()
    .infractructure-labels-slide
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img 
                .infractructure-labels-img


.infractructure 
    .infractructure-bg_text  ИНФРАСТРУКТУРА
    .infractructure-info 
        .infractructure-info-title ИНФРАСТРУКТУРА
        .infractructure-info-text 
            p На территории офисного центра:
            ul 
                
                li Гостевой паркинг
                li Корпоративная столовая с демократичными ценами
                li Несколько кофеен с широким ассортиментом сладостей и закусок кафе Брусника, кулинарная лавка Братья Караваевы, Pizza Hut, ресторан аргентинской кухни Новая Арена с летней террасой супермаркет и мини-маркет, вендинг
                li Школа танцев, спортивные студии и студия растяжки
                li Банкоматы и платежные терминалы
                li  Аптека, диагностический центр, улуги красоты и барбер шоп
        
    .infractructure-labels
        .infractructure-labels-nav
        +infractructure-labels-slide()
        +infractructure-labels-slide()
        +infractructure-labels-slide()