.index_form
    //- .index_form-bg_text заявка
    .bg-text.index_form__bg-text заявка
    .index_form-left
        .index_form-col
            .title Контакты
            .text
                p +7 495 225-20-95
                a arenda@kp-16.ru
        .index_form-col
            .title Офис
            .text 127473, г. Москва, ул. Красноснопролетарская, д. 16
    form.index_form-right
        //- h2 Оставить заявку
        h2.title Оставить заявку
        input.input
        input.input
        input.input
        //- a.info-btn Отправить
        button.btn.index_form-right__btn.btn--red(type="submit") Отправить
