header.header
    
    a.header-logo(href="/")
    a.header-menu-open(href="#")
    nav.header-menu
        ul.header-menu_list
            li
                a(href="/about/") О&nbsp;бизнес&#8209;центре
            li
                a(href="/location/") Инфраструктура
            li
                a(href="/gallery/") Галерея
            li
                a(href="/arenda/") Аренда
            li
                a(href="/press-center") Пресс&#8209;центр
            li
                a(href="/contacts/") Контакты
    .header-controls
       
        a.header_phone(href="tel:+7 495 225-20-95")
            | +7 495 225-20-95
            
        a.header-search
        a.login
            span Войти
    