
footer.footer
    .footer-logo
    .footer-grid
        nav.header-menu
            ul.header-menu_list
                li
                    a(href="/about/") О&nbsp;бизнес&#8209;центре
                li
                    a(href="/location/") Инфраструктура
                li
                    a(href="/gallery/") Галерея
                li
                    a(href="/arenda/") Аренда
                li
                    a(href="/press-center") Пресс&#8209;центр
                li
                    a(href="/contacts/") Контакты
        .footer-contacts
            .footer-phone +7 495 225-20-95
            a.footer-email arenda@kp-16.ru
        .footer-text Москва, ул. Краснопролетарская, 16
        .footer-text.span-2 © 2015 - 2021 — Деловой квартал «Красный пролетарий»
        .footer-copyright
            span Создание сайта
            .vis-logo
