doctype html
html(lang="en")
    head


        link(rel="stylesheet", href="./css/plagins_style.css")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/media_query.css")
        link(rel="stylesheet", href="./css/fonts.css")
        link(rel="stylesheet", href="./js/slick/slick.css")
        link(rel="stylesheet", href="./js/slick/slick-theme.css")
        link(rel="stylesheet", href="./js/fancybox/jquery.fancybox.css" )
        include parts/common_headings.pug

        title деловой квартал
    body 
        include parts/header/header
        include parts/business_first/business_first
        include parts/about/about
        include parts/facts/facts
        include parts/facts/facts_reverse
        include parts/history/history
        include parts/index_slider/index_slider
        
        include parts/infrastructure/infrastructure
        

        include parts/index_form/index_form
        include parts/footer/footer


        script( src="../../js/jquery-1.11.2.min.js" )
        script( src="../../js/slick/slick.js" )
        script( src="../../js/fancybox/jquery.fancybox.pack.js" )
        script( src="../../js/vis-scripts.js" )
        script( src="../../js/vis-home-script.js" )