.index_first{
    // .padding-container(1925px, 1726px,150px,5vw,86px, 10vw);
    padding: 150px 5vw 86px 10vw;
    width: 100%;
    margin-bottom: @section-gap;
    --container-height: 52vw;
    min-height: var(--container-height);
    position: relative;
    color:white;
    background-position: center;
    background-size: cover;
    .flex-col;
    
    @media screen and (min-width:1920px + 1px){
        min-height: 1000px;
    }
    
    @media screen and (max-width:@size-tablete ){
        min-height: 69vw; 
    }
    
    @media screen and (max-width:@size-mobile ){
        min-height: 812px;
        padding-left: 5vw;
        
    }

    
    // justify-content: flex-end;
    justify-content: center;

  @media screen and (max-width:@size-mobile){
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  
  @media screen and(max-width: @size-mobile){
    justify-content: flex-end;
  }
    
    // & div{
    //     position: relative;
        
    // }
    
    & &-center{

        //  position: absolute;
        //  .adaptive-size(260,355,1366, 1920);
        //  top:var(--return);
        //  width:max-content;
        z-index: 2;

        @media (max-width: 1000px) {
            text-align: center;
        }

        @media (min-width: 1366px + 1) {
            margin-top: auto;
        }


        @media screen and (max-width:@size-tablete) {
            top: 225px;

        }

        @media screen and (max-width:@size-mobile ) {

      // position: relative;

      //.top-super(0,0,-10vw,-10vw);
     // width:max-content;
         

         
      //   @media screen and (max-width:@size-mobile ){

            display: flex;

            flex-direction: column;
            justify-content: center;
        }
         
         
         
         &-title{

           .font-size-super(28,36,46,50, "super");
             font-weight:700;
            text-transform: uppercase;
            margin-bottom: .7em;
            line-height: 1.2em;
            

            
            @media screen and (max-width:@size-mobile ){
                text-align: center;
                line-height: 1.4em;
                margin-bottom: 23px;
            }
         }
         
         & .info-btn{
            
            font-weight: bold;
            font-size: 18px;
            width:350px;
            font-family: @font-family;
            
            @media screen and(max-width: @size-notebook){
                
                width:270px;
            }
            
            @media screen and (max-width:@size-tablete){
                font-size: 12px;
                min-height: 40px;
            }
            
            @media screen and (max-width:@size-mobile ){
                
                max-width:270px;
                width:100%;
                justify-self: center;
            }
            
            
           
         }
    }
    
    // & &-bg{
    //     .bg-cover('./img/index_head.jpg');
    //     position: absolute;
    //     top:0;right: 0;left:0;
    //     bottom: 0;
    //     filter: brightness(40%);
    // }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
    }
    
    &-tabs{
       
        
        grid-template-columns: repeat(3,1fr) auto!important;
        grid-column-gap: 1vw!important;
        .bottom-super(-30px, -50px, 60px,0px);
        align-items: stretch;
        margin-top: auto;
        z-index: 2;
        
        @media screen and(max-width: @size-notebook) and (min-width: (@size-tablete + 1px)){
            left: 28px;
            position: absolute!important;
            gap: 8vw;
            max-width: 100vw;
            bottom: 60px;         
        }
        
        
        
        @media screen and(max-width: @size-mobile) {
            bottom: -30px; 
            gap:55px;
        }
    
    }
    
    &-tabs-card.elem_tabs-card{
        color: white;
        font-size: 20px;
        line-height: 24px;  
        justify-content:flex-start;
        
        @media screen and(min-width: @size-notebook +1px){
            min-width: 370px;
            
        }
        
        & .card-img{
            // .bg-contain('./img/svg/hexagon-empty-white.svg');
            //background-position: center;
            //background-repeat: no-repeat;
            //background-size: contain;
          background: none;
            
            @media screen and(max-width: @size-notebook){
                height: 86px;
            }   
            & div{
                color: @white;
            }
        }

        & .card-img--bucket {
            background: url('./img/svg/buck.svg') no-repeat center/contain;
        }

        & .card-img--parking {
            background: url('./img/svg/park.svg') no-repeat center/contain;
        }

        & .card-img--taxometr {
            background: url('./img/svg/tax.svg') no-repeat center/contain;
        }

        // & .card-img--parking {
        //     background-image: url();
        // }
        
        & .card-text{
            max-width: 276px;
            
            @media screen and(max-width: @size-notebook){
                font-size: 16px;
            }   
            
            @media screen and (max-width: @size-mobile){
                font-size: 10px;
                line-height: 16px;
              }
        }
        
        
    } 
    
    &-tabs_arrow{
        .masked-icon('./img/svg/oval_plus_arrow.svg');
        height: 58px;
        width:26px;
      align-self: center;     
      animation: index_arrow 1s  infinite ;
     
      @media screen and(max-width: @size-notebook){
       display:none;
    }
      
    }
    
    
}